.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.navbar-container {
    height: 10vh;
}

.main-page-container {
    height: 90vh;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sidebar-component {
    width: 20%;
}

.main-page-component {
    width: 80%;
    overflow-y: auto;
}
